<server description="dma server">

    <!-- Enable features -->
    <featureManager>
	    <feature>servlet-3.0</feature>
    	<feature>jndi-1.0</feature>
		  <feature>jdbc-4.0</feature>
		  <feature>appSecurity-2.0</feature>
		  <feature>ldapRegistry-3.0</feature>
	  </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true"/>

	<ldapRegistry
        	id="ldap" 
        	host="localhost" 
		port="389"
        	baseDN="dc=dma,dc=local"
        	bindDN="cn=admin,dc=dma,dc=local"
		bindPassword="spcspc"
        	ldapType="Custom"
		recursiveSearch="true"
		certificateMapMode="EXACT_DN"
		>
		<customFilters
			userFilter="(&amp;(uid=%v)(objectclass=posixaccount))"
			groupFilter="(&amp;(cn=%v)(objectclass=groupofNames))"
			userIdMap="*:uid"
			groupIdMap="*:cn"
			groupMemberIdMap="groupofNames:member"	
		/>
	</ldapRegistry>


  <!-- START ORA SETUP-->
  <!-- If Oracle machine is behind a firewall and is running a ssh server then connect via a local ssh tunnel -->
	<!-- and change serverName attribute to localhost -->
	<!-- /usr/bin/ssh -f -X -Y -N -C -L 1521:172.16.186.243:1521 -g administrateur:Adminvm$@172.16.186.243 -->

	<library id="ORALib">
	  <fileset dir="${shared.resource.dir}/ORA" includes="*.jar"/>
	</library>

	<dataSource jndiName="jdbc/ORA" transactional="false">
	  <jdbcDriver libraryRef="ORALib"/>
	  <properties.oracle databaseName="lvso112" driverType="thin" password="danone" portNumber="1521" serverName="172.16.186.243" user="danone"/>
	</dataSource>

	<jndiEntry jndiName="TestORAConnection" value="select sysdate from dual"/>

  <!-- END ORA SETUP-->

  <!-- START DB2 SETUP-->

	<library id="DB2Lib">
    <fileset dir="${shared.resource.dir}/DB2" includes="*.jar"/>
  </library>

  <dataSource jndiName="jdbc/DB2" transactional="false">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc currentSchema="DB2INST1" databaseName="FRMARK" password="spcspc" portNumber="50000" serverName="localhost" user="db2inst1"/>
  </dataSource>

  <jndiEntry jndiName="TestDB2Connection" value="select current date from sysibm.sysdummy1"/>

  <!-- END DB2 SETUP-->

  <!-- START DB2400 SETUP-->

  <library id="DB2400Lib">
    <fileset dir="${shared.resource.dir}/DB2400" includes="*.jar"/>
  </library>

  <dataSource jndiName="jdbc/DB2400" transactional="false">
    <jdbcDriver libraryRef="DB2400Lib"/>
    <properties.db2.i.toolbox databaseName="" password="" portNumber="" serverName="" user=""/>
  </dataSource>

	<jndiEntry jndiName="TestDB2400Connection" value="select current date from sysibm.sysdummy1"/>

  <!-- END DB2400 SETUP-->

  <!-- START SQLSRV SETUP-->

  <library id="SQLSRVLib">
    <fileset dir="${shared.resource.dir}/SQLSRV" includes="*.jar"/>
  </library>

  <dataSource jndiName="jdbc/SQLSRV" transactional="false">
    <jdbcDriver libraryRef="SQLSRVLib"/>
    <properties.microsoft.sqlserver databaseName="DBNAME" password="pwd" portNumber="1433" serverName="localhost/127.0.0.1" user="user"/>
  </dataSource>

	<jndiEntry jndiName="TestSQLSRVConnection" value="SELECT GETDATE()"/>

  <!-- END SQLSRV SETUP-->

  <!-- START MYSQL SETUP-->

  <library id="MYSQLLib">
    <fileset dir="${shared.resource.dir}/MYSQL" includes="*.jar"/>
  </library>

  <dataSource jndiName="jdbc/MYSQL" transactional="false">
    <jdbcDriver libraryRef="MYSQLLib"/>
    <properties databaseName="employees" password="spcspc" portNumber="3306" serverName="localhost" user="root"/>
  </dataSource>

	<jndiEntry jndiName="TestMYSQLConnection" value="select now()"/>

  <!-- END MYSQL SETUP-->

  <!-- START PGSQL SETUP-->

  <library id="PGSQLLib">
    <fileset dir="${shared.resource.dir}/PGSQL" includes="*.jar"/>
  </library>

  <dataSource jndiName="jdbc/PGSQL" type="javax.sql.XADataSource">
    <jdbcDriver libraryRef="PGSQLLib" javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"/>
    <properties databaseName="dvdrental" password="spcspc" portNumber="5432" serverName="localhost" user="postgres"/>
  </dataSource>

	<jndiEntry jndiName="TestPGSQLConnection" value="select 1"/>

  <!-- END PGSQL SETUP-->


  <!-- START DMA SETUP-->

	<jndiEntry jndiName="WithRecCount" value="true"/>

  <!-- END DMA SETUP-->

	<!-- START COGNOS SETUP -->

	<jndiEntry jndiName="CognosFolder" value="C:/models"/>
	<jndiEntry jndiName="CognosModelsPath" value="/mnt/models"/>
	<jndiEntry jndiName="CognosDispatcher" value="http://172.16.186.246:9300/p2pd/servlet/dispatch"/>
	<jndiEntry jndiName="CognosLogin" value="admin"/>
	<jndiEntry jndiName="CognosPassword" value="Freestyle05$"/>
	<jndiEntry jndiName="CognosNamespace" value="CognosEx"/>
	<jndiEntry jndiName="CognosDataSource" value="DEV"/>
	<jndiEntry jndiName="CognosSchema" value="DANONE"/>
	<jndiEntry jndiName="CognosDefaultLocale" value="en-gb"/>
	<jndiEntry jndiName="CognosLocales" value="en"/>
	<jndiEntry jndiName="CognosCatalog" value=""/>

  <!-- END COGNOS SETUP -->

  <applicationMonitor updateTrigger="mbean"/>

  <application id="dma" location="dma.war" name="dma">
	<application-bnd>
        	<security-role name="testing">
	          <special-subject type="ALL_AUTHENTICATED_USERS" />
        	</security-role>
      	</application-bnd>
  </application>

</server>
